* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* stylelint-disable*/
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}html{line-height:1}body{line-height:inherit}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* stylelint-enable */

/* Begin site styles below */
* {
  text-decoration: none;

}

html {
  font-size: 18px;
  line-height: 24px;
  padding: 24px; 
  font-family: 'Lato', sans-serif;


}

/* Heading Properties */
h1 {
  font-family: 'Arvo', serif;
  font-size: 42px;
  line-height: 84px;
  padding-top: 24px;
  padding-bottom: 24px;
  color: white;
  background-color: #801815;
}

h2 {
  font-family: 'Arvo', serif;
  font-size: 32px;
  line-height: 48px;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 10.667px;
  color: white;
  background-color: #116516;

  h3 {
    font-family: 'Arvo', serif;
    font-size: 24px;
    line-height: 40px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 8px;
    color: white;
    background-color: #116516;

}
